.hero {
  text-align: center;
  padding: 6rem 1rem 4rem 1rem;
  background-image: url("images/white-noise-hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
